* {
    margin: 0px;
}

ul {
    padding-bottom: 20px;
}

body {
    height: 100vh;
    border: 5px solid hotpink;
    background-color: black;
}

a {
    font-family: "Raleway", sans-serif, serif;
    text-decoration: none;
    color: gray; 
}

footer a {
    font-family: "Gloock", sans-serif, serif;
    font-weight: bolder;
    font-size: 20px;
    color: gray;
}

footer a:hover,
a:hover,
.resume a:hover {
    color: white;
}

.container-fluid {
    margin: 30px;
}

.nav-link,
input,
textarea {
    font-family: "Raleway", sans-serif, serif;
    color: gray;
}

.contact {
    padding: 50px;
}

.about-me,
.resume {
    padding: 50px 200px;
}

.resume-content {
    padding-top: 30px;
}

.about-section {
    font-family: "Raleway", sans-serif, serif;
    font-size: 20px;
    margin-top: 50px;
    color: white;
    width: 70%;
}

.profile-pic {
    width: 250px;
    height: auto;
    border: 3px dotted hotpink;
    border-radius: 180px;
    position: absolute;
    left: 70%;
    bottom: 45%;
}

.name-icon {
    font-family: "Gloock", sans-serif, serif;
    justify-content: flex-start;
    font-weight: bolder;
    font-size: 25px;
    line-height: 40%;
    color: white;
}

.resume-header,
.contact-header {
    font-family: "Gloock", sans-serif, serif;
    margin-bottom: 50px;
    color: white;
}

label,
.about-header,
.contact-info,
.tech-header, 
.tech-names,
.project-description {
    font-family: "Raleway", sans-serif, serif;
    color: white;
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullet {
    color: #ff24b6;
}


.projects-header {
    font-family: "Gloock", sans-serif, serif;
    color: white;
    padding: 40px 100px;
}

.project-content {
    padding: 50px 80px;
}

.project-img {
    width: 265px;
    margin-bottom: 15px;
    border-radius: .5rem;
    justify-self: center;
}

.project-title {
    font-family: "Gloock", sans-serif, serif;
    color: white;
    margin-bottom: 5px;
}

.project-description {
    margin-bottom: 50px;
}

.button {
    padding: 1.3em 3em;
    font-size: 12px;
    margin: 28px 0px;
    width: 16em;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0%;
    cursor: pointer;
    outline: none;
}

.gh-button {
    margin-left: 13px;
}

.button:hover {
    background-color: #ff24b6;
    box-shadow: 0px 15px 20px rgb(252 13 141 / 40%);
    color: #fff;
}


/* MEDIA QUERIES */

